/node_modules/
Homestead.yaml
.env
.env.bts
/.idea/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/database/migrations/2015_07_28_004034_populate_base_data.php
/vendor