/node_modules/
Homestead.yaml
.env
.env.bts
/.idea/
/app/Http/routes_migrate.php
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
/public/images/*