div[role='tabpanel'], div.tabpanel {
	text-align: center;
	position: relative;
	z-index: 1900;

	& > ul.nav.nav-tabs {
		@include clearfix();
		border: none;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: inherit;
		text-align: center;
		z-index: 1980;
		white-space: nowrap;

		&:before {
			display: none;
		}
		& > li {
			@include bg_gradient_yellow();
			border: 1px solid #000;
			color: #000;
			display: inline-block;
			font-weight: bold;
			float: left;
			font-size: 0.933em; // 14px
			margin: 0;
			padding: 0;
			@include user_select_none();
			white-space: normal;

			a {
				background: transparent;
				border: none;
				color: #000;
				display: block;
				padding: 0.4em 1.2em;
				&:hover {
					background: transparent;
					border: none;
					color: #000;
					cursor: pointer;
					text-decoration: none;
				}
				&:active, &:focus {
					text-decoration: none;
					outline: none;
				}
			}
			&.active {
				@include bg_gradient_yellow_inv();
			}
			&:hover {
				cursor: pointer;
			}
			&:not(:first-of-type) {
				border-left: none;
			}
			&:first-of-type {
				border-top-left-radius: $dim_bdr_radius;
				border-bottom-left-radius: $dim_bdr_radius;
			}
			&:last-of-type {
				border-top-right-radius: $dim_bdr_radius;
				border-bottom-right-radius: $dim_bdr_radius;
			}

			@media (max-width: 768px) {
				border-radius: $dim_bdr_radius;
				display: block;
				float: none;
				margin: 0.2em 0;
				width: 100%;
			}
		}
		@media (max-width: 768px) {
			display: block;
			width: 100%;
		}
	}
	& > div.tab-content {
		& > div.tab-pane {
			background: transparent;
			border-top: 1px solid $btsyellow;
			margin: -1.4em 0 0 0;
			padding: 2.5em 0 0 0;
			position: relative;
			text-align: left;
			z-index: 1910;

			@media (max-width: 768px) {
				border: none;
				margin-top: 2em;
				padding-top: 0;
			}
		}
	}
}