// BTS Colours
$btsyellow: #FFCF00;
$btsgold: #D69E00;
$btsorange: #D18800;

// Button colours
$colour_btn: $btsyellow;
$colour_btn_h: $btsgold;
$colour_btn_red: #9D0600;
$colour_btn_red_h: #860500;
$colour_btn_green: #007703;
$colour_btn_green_h: #006402;
$colour_btn_grey: #D4D4D4;
$colour_danger: #d9534f;
$colour_success: #5cb85c;
$colour_primary: darken(#428bca, 6.5%);
$colour_info: #5bc0de;
$colour_warning: #f0ad4e;

// Other colours
$colour_text: #CCC;

// Dimensions
$dim_bdr_radius: 5px;
$dim_nav_height: 40px;
$dim_nav_a_height: 0px;
$dimFooterHeight: 378px;