@import "vars";
@import "mixins";

// Some generic styling
em, .em, .italic {
	font-style: italic;

	&.bts {
		font-style: inherit;
		color: $btsyellow;
	}
}

strong, .strong, .bold {
	font-weight: 700;
}

.success {
	color: #3e8f3e;
}

.danger {
	color: #b92c28;
}

// Anchors
a, a:visited {
	&:not(.btn) {
		color: $btsyellow;
		text-decoration: none;

		&:hover {
			color: $btsyellow;
			text-decoration: underline;
		}
		&:active {
			color: $btsgold;
			text-decoration: underline;
		}
		&:focus {
			outline: 1px dotted $btsyellow;
		}
	}
}

// Abbreviations
abbr {
	border-bottom: 1px dotted $btsyellow;

	&:hover {
		cursor: default;
	}
}

// Some form overrides
@import "forms";

// Headers
@import "headers";

// Horizontal rules
hr {
	border: none;
	background: $btsyellow;
	height: 1px;
	margin: 1.5em 0;

	& + * {
		margin-top: 0;
	}
}

// List
@import "lists";

// Pagination
@import "pagination";

// Modal popup
@import "modal";

// Paragraphs
p {
	font-size: 1em;
	line-height: 1.667em; // 1.667*15 = 25px
	margin: 0 0 1.6em 0; // 1.6*15 = 24px
	@media (min-width: 1000px) {
		text-align: justify;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

// Tab styling
@import "tabs";

// Tables
@import "tables";

// Tool colours
span.tool-colour {
	margin: 0 0.3em;
	& > span {
		&:nth-child(even) {
			margin-left: -1.1em;
			transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
		}
		&:first-of-type:not(:last-of-type) {
			margin-left: 0.5em;
		}
	}
	&:not(:first-of-type) {
		margin-left: -0.5em;
	}
	.red {
		color: #FF0000;
	}
	.blue {
		color: #007BFF;
	}
	.green {
		color: #008000;
	}
	.yellow {
		color: #FFFF00;
	}
	.white {
		color: #FFF;
	}
	.black {
		color: #000;
		margin-left: 0.2em;
		text-shadow: -1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF;
	}
	.brown {
		color: #5e3415;
	}
	.purple {
		color: #973fff;
	}
	.grey {
		color: #444;
	}
	.orange {
		color: #F60;
	}
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

// Event colours
.event-entry {
	$event: #A00;
	$training: #05F;
	$social: rgb(255, 198, 203);
	$meeting: #0A0;
	$hidden: #999;
	$booking: #F80;

	$event_bg: rgb(255, 170, 170);
	$training_bg: lighten($training, 30%);
	$social_bg: $social;
	$meeting_bg: lighten($meeting, 55%);
	$hidden_bg: darken($hidden, 20%);
	$booking_bg: $hidden;

	color: $event !important;

	&.training {
		color: $training !important;
	}
	&.social {
		color: $social !important;
	}
	&.meeting {
		color: $meeting !important;
	}
	&.bts {
		color: $hidden !important;
		font-style: italic;
	}
	&.booking {
		color: $booking !important;
	}

	a {
		color: inherit !important;
	}

	&.tag {
		@include user_select_none();
		$height: 1.6em;
		background-color: $event_bg;
		border-radius: 5px;
		border-right-color: $event_bg;
		color: #000 !important;
		display: inline-block;
		font-weight: 400;
		height: $height;
		line-height: $height;
		margin: 0 0 0 $height / 2;
		padding: 0 0.6em;
		position: relative;
		text-align: center;
		text-transform: lowercase;

		&:hover {
			cursor: default;
		}
		&.training {
			background-color: $training_bg;
			border-right-color: $training_bg;
		}
		&.social {
			background-color: $social_bg;
			border-right-color: $social_bg;
		}
		&.meeting {
			background-color: $meeting_bg;
			border-right-color: $meeting_bg;
		}
		&.bts {
			background-color: $hidden_bg;
			border-right-color: $hidden_bg;
		}
		&.booking {
			background-color: $booking_bg;
			border-right-color: $booking_bg;
		}
	}
}
ul.event-list {
	$font-size: 12px;
	font-size: $font-size;

	li {
		font-size: #{18px / $font-size}em;
		line-height: 0;
		list-style: square inside;
		margin: 0;
		padding: 0;

		&:not(:last-child) {
			margin-bottom: 0.5em;
		}
		a, span {
			color: #CCC !important;
			display: inline;
			font-size: $font-size;
			line-height: 1.2;
		}
		a:focus {
			outline-color: #CCC !important;
		}
	}
}

div.event-key {
	background: #191919;
	border-radius: 3px;
	font-size: 13px;
	margin: 2em 0;
	padding: 1em;

	h1 {
		color: #666;
		font-size: 18px;
		margin: 0 0 0.75em 0.2em;
		text-align: left;
		text-transform: uppercase;

		@media (min-width: 768px) {
			margin-left: 0.5em;
		}
	}
	ul {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			white-space: nowrap;

			@media (min-width: 768px) {
				display: inline-block;
				margin: 0 0.5em 0;
			}

			&:before {
				content: "\2014";
				font-size: #{18em/13};
				line-height: 1em;
				padding-right: 0.3em;

				vertical-align: middle;
			}
		}
	}
}

// reCAPTCHA fix
div.g-recaptcha-center {
	& > div.g-recaptcha {
		display: block;
		text-align: center;
		width: 100%;

		& > div {
			display: inline-block;
			margin: 0 auto;
		}
	}
	& > p.help-block {
		text-align: center;
	}
}

// Structure
@import "structure";

// Special styling
div[data-type="modal-template"] {
	display: none !important;
}

[data-editable='true']:hover {
	background: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}