h4.header {
  font-size: 26px;
  margin: -1em 0 1.5em;
  text-align: center; }

#viewGallery, #viewAlbum {
  box-sizing: border-box;
  font-size: 0;
  text-align: left;
  overflow: hidden;
  width: 100%; }
  @media (max-width: 768px) {
    #viewGallery, #viewAlbum {
      text-align: center; } }
  #viewGallery div.box, #viewAlbum div.box {
    -webkit-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s, 0.1s;
    -webkit-transition-property: background-color, border-color, box-shadow, color, opacity;
    -webkit-transition-timing-function: ease-in, ease-in, ease-in, ease-in, ease-in;
    -moz-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s, 0.1s;
    -moz-transition-property: background-color, border-color, box-shadow, color, opacity;
    -moz-transition-timing-function: ease-in, ease-in, ease-in, ease-in, ease-in;
    -o-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s, 0.1s;
    -o-transition-property: background-color, border-color, box-shadow, color, opacity;
    -o-transition-timing-function: ease-in, ease-in, ease-in, ease-in, ease-in;
    -ms-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s, 0.1s;
    -ms-transition-property: background-color, border-color, box-shadow, color, opacity;
    -ms-transition-timing-function: ease-in, ease-in, ease-in, ease-in, ease-in;
    transition-duration: 0.1s, 0.1s, 0.1s, 0.1s, 0.1s;
    transition-property: background-color, border-color, box-shadow, color, opacity;
    transition-timing-function: ease-in, ease-in, ease-in, ease-in, ease-in;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    vertical-align: text-top;
    width: 100%; }
    @media (min-width: 480px) and (max-width: 768px) {
      #viewGallery div.box, #viewAlbum div.box {
        width: 50%; } }
    @media (min-width: 768px) and (max-width: 992px) {
      #viewGallery div.box, #viewAlbum div.box {
        width: 33%; } }
    @media (min-width: 992px) {
      #viewGallery div.box, #viewAlbum div.box {
        width: 25%; } }
    #viewGallery div.box:hover, #viewAlbum div.box:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer; }
    #viewGallery div.box div.photo, #viewAlbum div.box div.photo {
      background-position: 50% 25%;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      height: 150px;
      width: 100%; }
    #viewGallery div.box p, #viewAlbum div.box p {
      font-size: 14px;
      margin: 0;
      text-align: left; }
      #viewGallery div.box p.photo-count, #viewAlbum div.box p.photo-count {
        color: #999;
        font-size: 12px; }
      #viewGallery div.box p.comment, #viewAlbum div.box p.comment {
        font-size: 13px;
        margin: 5px 0 0; }
  #viewGallery h3.no-entries, #viewGallery h4.no-entries, #viewAlbum h3.no-entries, #viewAlbum h4.no-entries {
    text-align: center; }
  #viewGallery h3.no-entries, #viewAlbum h3.no-entries {
    font-size: 24px; }
  #viewGallery h4.no-entries, #viewAlbum h4.no-entries {
    font-size: 22px; }

#viewAlbum {
  margin-bottom: 25px; }
