#editUser form img {
  max-height: 300px;
  width: 90%; }

#editUser form fieldset.privacy {
  padding-bottom: 1em; }
  #editUser form fieldset.privacy div.form-group {
    margin: 0; }
  #editUser form fieldset.privacy p {
    margin: -0.5em 0 0.5em 0; }
  #editUser form fieldset.privacy div.checkbox {
    margin: 0 0 0 1em; }

#listUsers .table {
  max-width: none;
  min-width: 600px;
  width: 100%; }
  #listUsers .table > tbody > tr > td {
    border: none; }
  #listUsers .table td.id, #listUsers .table th.id {
    text-align: center;
    width: 7%; }
  #listUsers .table td.username, #listUsers .table th.username {
    text-align: center;
    width: 15%; }
  #listUsers .table td.membership, #listUsers .table th.membership {
    text-align: center;
    width: 15%; }
  #listUsers .table td.date, #listUsers .table th.date {
    text-align: center;
    width: 15%; }
  #listUsers .table td.actions, #listUsers .table th.actions {
    text-align: center;
    width: 6em; }
  #listUsers .table td.id {
    color: #555;
    font-size: 0.9em; }

#bulkSummary {
  margin: 0 auto;
  max-width: 45em; }
  #bulkSummary > div.container-fluid {
    margin-bottom: 40px;
    max-height: 30em;
    overflow-y: auto; }
    #bulkSummary > div.container-fluid > div.row {
      color: #333333;
      overflow: hidden;
      padding: 7px 10px; }
      #bulkSummary > div.container-fluid > div.row:first-of-type {
        border-radius: 2px 2px 0 0; }
      #bulkSummary > div.container-fluid > div.row:last-of-type {
        border-radius: 0 0 2px 2px; }
      #bulkSummary > div.container-fluid > div.row:not(:last-of-type) {
        border-bottom: 1px solid #000; }
      #bulkSummary > div.container-fluid > div.row.success {
        background: #dff0d8;
        border-color: #3c763d; }
      #bulkSummary > div.container-fluid > div.row.error {
        background: #f2dede;
        border-color: #a94442; }
      #bulkSummary > div.container-fluid > div.row > div {
        float: left; }
        #bulkSummary > div.container-fluid > div.row > div.status {
          width: 1.7em; }
          #bulkSummary > div.container-fluid > div.row > div.status > span.fa {
            font-size: 19px;
            line-height: 22px;
            text-align: left; }
            #bulkSummary > div.container-fluid > div.row > div.status > span.fa.fa-check {
              color: #007703; }
            #bulkSummary > div.container-fluid > div.row > div.status > span.fa.fa-remove {
              color: #9D0600; }
        #bulkSummary > div.container-fluid > div.row > div.username {
          padding: 0 10px;
          width: 7em; }
        #bulkSummary > div.container-fluid > div.row > div.details {
          line-height: 1.3em; }
          @media (max-width: 768px) {
            #bulkSummary > div.container-fluid > div.row > div.details {
              clear: left;
              float: none;
              padding-left: 2.4em; } }
  #bulkSummary div.result-container {
    padding: 0.2em 1em; }
    #bulkSummary div.result-container > table {
      width: 100%; }
      #bulkSummary div.result-container > table td {
        line-height: 1.3em;
        vertical-align: top; }
